{% extends "base.html" %}
{% block title %}Equipos{% endblock %}

{% block content %}
    <h2>Equipos</h2>

    {% for equipo, datos in equipos.items() %}

    <section 
        style="
            background-color: {{datos.color}};
            padding: 20px;
            border-radius: 15px;
            margin-bottom: 20px;
        ">

        <h2>{{ equipo }}</h2>

        <ol>

            {% for jugador in datos.jugadores %}
            <li>{{ jugador }}</li>
            {% endfor %}

        </ol>

    </section>  

    {% endfor %}

    <a href="/colores">Colores</a>
    <a href="/">Película</a>
{% endblock %}

